body {
    background: rgb(0,0,0);
    font-family: 'Roboto';
}

.container {
    height: 100%;
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app {
    border: 2px solid rgba(215, 215, 215, 0.412);
    border-radius: 10px;

    padding: 50px;
    padding-top: 10px;
    margin-top: 5px;

    background-color: #24282B;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.app-image {
    display: flex;
    flex-direction: column;
    width: 500px;
}

textarea {
    width: 100%;
    resize: vertical;
    border: none;
    padding: 10px;

    overflow: hidden;
    height: 80px;

    outline: none;

    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.text-box {
    background: #00000000;
    color: #f2f2f2;
    text-align: center;

    border-bottom: none;
    border-radius: 5px; 
}

#display-image {
    margin: 0 auto;
    width: 100%;
    min-height: 320px;
    background-image: url('/assets/disaster-girl.png');
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    border: 1px solid #24282b;
    border-bottom: none;
    border-top: none;
    margin-top: 0;
    margin-bottom: 0;
}

.app-photo-picker {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
}

select {
    width: 80%;
    border: none;
    padding: 0.600rem;
    // background-color: #000000;
    border: 1px solid #24282b;
    border-radius: .300rem;
    color: #24282b;
    margin: 1rem 0;
}

.app-image > input {
    width: 80%;
    align-items: center;
    text-align: center;
    color: #f2f2f2;
}

#btn-download {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: orange;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #000000;
}

#meme-list {
    width: 100%;
    font-size: large;
    color: black;
}
